body {
    font-family: Arial, sans-serif;
    background-color: #c9c8c8;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

#stock-container, #cortes-container {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, select {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #3eaf36;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3eaf36;
}

#cortes-group label, #cortes-group input {
    margin-bottom: 10px;
    display: block;
}

#add-corte {
    color: rgb(0, 0, 0);
    margin-top: 10px;
    background-color: #1f4ec4;
}

#add-corte:hover {
    background-color: #1f4ec4;
}